section.main
    h2 Доступні склади
    article.warehouses
        .warehouse-card
            .warehouse-image
                img(src="./warehouse.png" alt="Зображення складу")
            .warehouse-info
                h3 Звичайний склад
                p Маленький
            button.book-button Забронювати!        
        .warehouse-card
            .warehouse-image
                img(src="placeholder.jpg" alt="Зображення складу")
            .warehouse-info
                h3 Звичайний склад
                p Маленький
            button.book-button Забронювати!     
        .warehouse-card
            .warehouse-image
                img(src="placeholder.jpg" alt="Зображення складу")
            .warehouse-info
                h3 Звичайний склад
                p Маленький
            button.book-button Забронювати!  
        .warehouse-card
            .warehouse-image
                img(src="placeholder.jpg" alt="Зображення складу")
            .warehouse-info
                h3 Звичайний склад
                p Маленький
            button.book-button Забронювати!  
        .warehouse-card
            .warehouse-image
                img(src="placeholder.jpg" alt="Зображення складу")
            .warehouse-info
                h3 Звичайний склад
                p Маленький
            button.book-button Забронювати!  
        .warehouse-card
            .warehouse-image
                img(src="placeholder.jpg" alt="Зображення складу")
            .warehouse-info
                h3 Звичайний склад
                p Маленький
            button.book-button Забронювати!  