section.main
    h2 Доступні склади
    article.warehouses#warehouseContainer      
.modal#bookingModal
    .success-Notification#successNotification
    .modal-content
        span.close-button ×
        h2 Інформація про склад
        .warehouse-header
            .modal-image
                img(src="warehouse.png" alt="Зображення складу")
            .warehouse-details
                h3#modalWarehouseType Звичайний склад
                p.price#modalPrice 500 грн за проміжок часу
        .modal-grid
            .modal-section
                h3 Опис
                p#modalType Тип складу: Звичайний склад
                p#modalSize Розмір: Середній розмір
                p#modalTemperature Температура: Стандартна
                p#modalHumidity Вологість: Стандартна
                p#modalCity Місце: Київ
                p#modalAddress Адреса: 
                p#modalDates Дата: Від 04.03.2025 до 06.03.2025
            .modal-section
                h3 Дані про замовника
                p Ім'я та прізвище:
                input#clientFullName(type='text' placeholder="Введіть ім'я та прізвище")
                p Електронна пошта:
                input#clientEmail(type='email' placeholder='Введіть електронну пошту')
                p Номер телефону:
                input#clientPhone(type='tel' placeholder='Введіть номер телефону')
        button.submit-button Забронювати
        
script(type="module" src="public/script.ts")