@import url(./recet.scss);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

$font-size: 1rem;
$font-color: #0A0C14;
$font-family: 'Amatic SC';
$body-color: #FFEEF1;
$primary-color: #A67A8D;
$secondary-color: #ffffff;
$padding: 20px;
$border-radius: 10px;

@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

html {
    font-size: $font-size;
    color: $font-color;
   
}

.body {
    font-family: $font-family;
    @include flex-column();
    width: 100%;
    background-color: $body-color;
    padding: 2em 3.5em;
    gap: 2em;
}

.header {
    display: flex;
    background-color: #A67A8D;
    color: white;
    width: 100%;
    border-radius: 10px;
    height: 10vh;
    align-items: center;
    padding: 0em 3em;
    h1{
        font-size: 4.3em;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
}
.content {
    display: flex;
    width: 100%;
    gap: 2em;
}

.main{
    @include flex-column();
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0em 2em 2em;
    border-radius: 20px;
}

.warehouses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5em; 
    width: 100%;
}

.warehouse-card {
    @include flex-column();
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden; 
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.03); 
    }
}

.warehouse-image {
    width: 100%;
    height: 150px;
    background-color: #e0e0e0; 
    img {
        width: 100%;
        height: 100%;
        object-fit: cover 
    }
}

.warehouse-info {
    padding: 1em;
    text-align: center;
    h3 {
        font-size: 1.2em;
        margin: 0;
        color: #333;
    }
    p {
        font-size: 0.9em;
        color: #777;
        margin: 0.3em 0 0;
    }
}

.book-button {
    background-color: $primary-color; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.4em 1em;
    margin: 0.5em 1em; 
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #ffffff;
        color: black;
        border: 1px solid $primary-color;
    }
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-weight: bold;
    letter-spacing: 0.05em;
    
}

.warehouse-header{
    h3{
        font-size: 1.5em;
        color: #333;
        margin: 0;
    }
    p{
        font-size: 1.2em;
        margin: 0.3em 0 0;
    }
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40vw;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    h2 {
        font-size: 1.5em;
        margin: 0 0 20px;
        text-align: center;
    }
}

.close-button {
    position: absolute;
    top: -0.3em;
    right: 0.3em;
    font-size: 4em;
    cursor: pointer;
    color: #666;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.warehouse-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 2em;
}

.modal-image {
    height: 150px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
    }
}

.modal-section {
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 10px;

    h3 {
        font-size: 1.5em;
        margin: 0 0 10px;
    }

    p, input {
        font-size: 1.2em;
        margin: 5px 0;
        color: $font-color;
    }

    input {
        width: 100%;
        padding: 5px;
        border: 1px solid $primary-color;
        border-radius: 10px;
    }
}

.submit-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.6em 4em;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 20px auto 0;

    &:hover {
        background-color: #ffffff;
        color: black;
        border: 1px solid $primary-color;
    }
}

.filters-footer-wrapper{
    @include flex-column();
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 2em;
    justify-content: space-between;
}

.filters{
    @include flex-center();
    width: 100%;
    height: 85%;
    background-color: white;
    padding: 0em 0.7em 2em;
    border-radius: 20px;
}
.filter-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.filter-category h3 {
    font-size: 1em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.filter-options {
    list-style: none;
    @include flex-column();
    gap: 0.5em;
}

.filter-option {
    background-color: white;
    border: 1px solid $primary-color; 
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0em 2em;

    input[type="checkbox"] {
        display: none; 
        }
    p{
        border-radius: 20px;
    }
    input[type="checkbox"]:checked + p {
        background-color:$primary-color;
        color: white; 
        }

}

.filter-option input[type="date"] {
    border-radius: 20px;
    padding: 0.2em;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    @include flex-column();
    width: 100%;
    background-color: $secondary-color;
    color: rgb(143, 143, 143);
    text-align: center;
    justify-content: center;
    padding: $padding;
    border-radius: $border-radius;
    height: 10%;
    p{
        font-size: 0.7em;
    }
}

@media (max-width: 1050px) {
    .filters{
        font-size: 0.7em;
    }
}

@media (max-width: 860px) {
    .filters{
        font-size: 1em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .filters-footer-wrapper {
        width: 100%;
        height: auto;
        align-items: center;
    }
    .header {
        h1{
            font-size: 3em;
        }
    }
    .footer {
        display: none;
    }

}

@media (max-width: 500px) {
    .header {
        h1{
            font-size: 2em;
        }
        padding: 0em;
        justify-content: center;
    }

}

@media (max-width: 400px) {
    .warehouse-card {
        width: 100%;
    }
    .main {
        padding: 0em 1em 2em;
    }
    .body {
        padding: 1em 1.5em;
    }
}